<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="/js/main.js"></script>
        <link href="/css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <form named="frmAudio" method="post" action="/audio" >
            Testing textarea for audio narration text : <br />
            <textarea name="q" rows="10" cols="40"></textarea>
            <input type="submit" value="get audio url" />
        </form>
    </body>
</html>