<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="/js/main.js"></script>
        <link href="/css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <form named="frmAudio" method="post" action="/extractKeywords" >
            Text : <br />
            <textarea name="query" rows="25" cols="100"></textarea> </br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>